name: Shared, language independent maintain jobs
on:
    # pull_request:
    # push:
    workflow_dispatch: 
    # schedule:
        # run every SUN
        # - cron: "0 0 * * SUN"
        # run every month
        #  - cron: "0 0 1 * *"
    workflow_call:
jobs:
    gitleaks:
        name: Gitleaks check
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
              with:
                  fetch-depth: 0

            - name: Checkout patterns file from thr reused repo
              uses: actions/checkout@v5
              with:
                token: ${{ secrets.GITLEAKS_TOKEN }}
                sparse-checkout: |
                  /configs/scan_gl/gitleaks.toml
                sparse-checkout-cone-mode: false
                repository: 'halt9k/shared-workflows-private'
                path: './tmp'
                ref: 'test'
                
            - name: Check file existence
              id: check_files
              uses: andstor/file-existence-action@v3
              with:
                  files: "./tmp/configs/scan_gl/gitleaks.toml"

            - uses: gitleaks/gitleaks-action@v2
              env:
                  # Only required for Organizations, not personal accounts.
                  GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE}}
                  GITLEAKS_CONFIG: ./tmp/configs/scan_gl/gitleaks.toml
    commitstar:
        name: Conventional commits check
        if: ${{ contains(github.ref, 'todo') }}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
              with:
                  fetch-depth: 0

            - name: Checkout config file from the reused repo
              uses: actions/checkout@v5
              with:
                sparse-checkout: |
                  /configs/.commitsar.yaml
                sparse-checkout-cone-mode: false
                repository: 'halt9k/shared-workflows'
                path: './tmp'
                ref: 'test'

            - env:
                  COMMITSAR_CONFIG_PATH: ./tmp/configs
              uses: aevea/commitsar@v0.20.2